@using Microsoft.AspNet.Identity

<span class="main-login-disclosure"></span>

@if (Request.IsAuthenticated)
{
  using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
  {
    @Html.AntiForgeryToken()

    <ul class="main-login">
      <li>
        @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Manage" })
      </li>
      <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
  }
}
else
{
  <ul class="main-login">
    <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { returnUrl = Context.Request.Path }, htmlAttributes: new { id = "loginLink" })</li>
  </ul>
}
