/* Colors */

@dark:              #222;
@semiDark:          #666;
@background:        #fff;
@headerBackground:  #000;
@footerBackground:  #aaa;
@darkBorder:        #888;
@lightBorder:       #ccc;
@lightText:         #fff;
@overlay:           #000;


/* Sizes */

@headerHeight:      40px;
@footerHeight:      30px;
@mainPadding:       20px;
@menuSpacing:       20px;
@menuFontSize:      16px;
@footerFontSize:    14px;
@headerFontSize:    16px;
@controlBorder:     1px;
@controlPadding:    4px;
@controlSpacing:    6px;
@controlFontSize:   14px;
@disclosureSize:    20px;
@selectWidth:       120px;
@borderSize:        2px;
@borderRadius:      6px;
@innerPadding:      6px;


/* Fonts */

@font:              Verdana, Geneva, Tahoma, sans-serif;
@fontWeightHeavy:   800;


/* Variables */

@overlayOpacity:    0.1;
