/* Colors */
/* Sizes */
/* Fonts */
/* Variables */
/* Sizes */
/* Dialog Styles */
div.dialog-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20000;
}
div.dialog-container div.dialog-overlay {
  background: #000000;
  opacity: 0.1;
  width: 100%;
  height: 100%;
}
div.dialog-container div.dialog-window {
  position: absolute;
  top: 50%;
  left: 50%;
  background: #ffffff;
  border: 2px solid #888888;
  border-radius: 6px;
  overflow: hidden;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.dialog-container div.dialog-window header {
  background: #222222;
  color: #ffffff;
  cursor: default;
  font-size: 16px;
  padding: 6px;
  min-width: 200px;
}
div.dialog-container div.dialog-window section {
  padding: 6px;
}
div.dialog-container div.dialog-window footer {
  background: #aaaaaa;
  padding: 6px;
  overflow: hidden;
  text-align: right;
}
div.dialog-container div.dialog-window footer input[type="button"]:not(:last-child) {
  margin-right: 6px;
}
