@import "../variables.less";


/* Sizes */

@borderSize:    2px;
@borderRadius:  6px;
@padding:       6px;
@minWidth:      200px;


/* Dialog Styles */

div.dialog-container {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20000;

    div.dialog-overlay {
        background: @overlay;
        opacity: @overlayOpacity;
        width: 100%;
        height: 100%;
    }

    div.dialog-window {
        position: absolute;
        top: 50%;
        left: 50%;
        background: @background;
        border: @borderSize solid @darkBorder;
        border-radius: @borderRadius;
        overflow: hidden;
        -ms-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        header {
            background: @dark;
            color: @lightText;
            cursor: default;
            font-size: @headerFontSize;
            padding: @padding;
            min-width: @minWidth;
        }

        section {
            padding: @padding;
        }

        footer {
            background: @footerBackground;
            padding: @padding;
            overflow: hidden;
            text-align: right;

            input[type="button"]:not(:last-child) {
                margin-right: @padding;
            }
        }
    }
}
