/* Color Variables */

@blue:      #aaccff;
@lightblue: #c3dbff;
@darkblue:  #6584b2;
@brown:     #b29353;
@tan:       #ffe3aa;
@highlight: #ff0000;


/* Size Variables */

@gateSize:      50px;
@paddingSize:   25px;
@shadowSize:    10px;
@highlightSize: 5px;


/* Computed Variables */

@showroomHeight:        @gateSize + (2 * @paddingSize);

@slotHeight:        @gateSize + (2 * @shadowSize);

@shadowSpread:      @shadowSize / 2;
@shadowOffset:      @shadowSize + @shadowSpread;


/* LESS Mixins */

.generate-factoryShowroom-size(@size) {
    div.q-workspace.q-mod-showroomSize@{size} {
        @height:    (@size * @gateSize) + ((@size + 1) * @paddingSize);

        .generate-factoryShowroom-size-items(@n, @i: 2) when (@i =< @n) {
            div.q-gateFactory:nth-child(@{size}n + @{i}) {
                margin-top: ((@i - 1) * @gateSize) + (@i * @paddingSize);
            }

            .generate-factoryShowroom-size-items(@n, @i + 1);
        }

        .generate-factoryShowroom-size-items(@size);

        div.q-gateFactory:not(:nth-child(@{size}n + 1)) {
            margin-left: -@gateSize;
        }

        div.q-factoryShowroom {
            height: @height;
        }

        div.q-circuit {
            top: @height;
        }
    }
}


/* Reset and Page Styles */

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}


/* Workspace */

div.q-workspace {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.generate-factoryShowroom-size(2);
.generate-factoryShowroom-size(3);
.generate-factoryShowroom-size(4);
.generate-factoryShowroom-size(5);


/* Gate */

div.q-gate {
    background: @tan;
    width: @gateSize;
    height: @gateSize;
    border-radius: @gateSize / 2;
    box-shadow: inset 0 0 @shadowSize @shadowSpread @brown;
    z-index: 10000;
}


/* Gate Factory */

div.q-gateFactory {
    float: left;
    margin: @paddingSize 0 0 @paddingSize;
}


/* Factory Showroom */

div.q-factoryShowroom {
    background-color: @blue;
    position: absolute;
    width: 100%;
    height: @showroomHeight;
    overflow: hidden;
    box-shadow: inset 0 @shadowOffset @shadowSize -@shadowSize @darkblue,
                inset 0 -@shadowOffset @shadowSize -@shadowSize @darkblue;

    div.q-factoryShowroom-content {
        height: 100%;
    }
}


/* Circuit */

div.q-circuit {
    background-color: @tan;
    position: absolute;
    top: @showroomHeight;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    box-shadow: inset 0 @shadowOffset @shadowSize -@shadowSize @brown,
                inset 0 -@shadowOffset @shadowSize -@shadowSize @brown;
}


/* Slot */

div.q-slot {
    position: relative;
    margin: @paddingSize;
    padding: @shadowSize;
    height: @slotHeight;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: @slotHeight / 2;
        box-shadow: 0 0 @highlightSize @highlightSize @highlight;
        opacity: 0;
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }

    &:after {
        content: '';
        background-color: @blue;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: @slotHeight / 2;
        box-shadow: inset 0 0 @shadowSize @shadowSpread @darkblue;
    }

    &.q-mod-hover:before {
        opacity: 1;
    }
}
