/* Color Variables */
/* Size Variables */
/* Computed Variables */
/* LESS Mixins */
/* Reset and Page Styles */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: none;
}
/* Workspace */
div.q-workspace {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.q-workspace.q-mod-showroomSize2 div.q-gateFactory:nth-child( 2n + 2) {
  margin-top: 100px;
}
div.q-workspace.q-mod-showroomSize2 div.q-gateFactory:not( :nth-child( 2n + 1)) {
  margin-left: -50px;
}
div.q-workspace.q-mod-showroomSize2 div.q-factoryShowroom {
  height: 175px;
}
div.q-workspace.q-mod-showroomSize2 div.q-circuit {
  top: 175px;
}
div.q-workspace.q-mod-showroomSize3 div.q-gateFactory:nth-child( 3n + 2) {
  margin-top: 100px;
}
div.q-workspace.q-mod-showroomSize3 div.q-gateFactory:nth-child( 3n + 3) {
  margin-top: 175px;
}
div.q-workspace.q-mod-showroomSize3 div.q-gateFactory:not( :nth-child( 3n + 1)) {
  margin-left: -50px;
}
div.q-workspace.q-mod-showroomSize3 div.q-factoryShowroom {
  height: 250px;
}
div.q-workspace.q-mod-showroomSize3 div.q-circuit {
  top: 250px;
}
div.q-workspace.q-mod-showroomSize4 div.q-gateFactory:nth-child( 4n + 2) {
  margin-top: 100px;
}
div.q-workspace.q-mod-showroomSize4 div.q-gateFactory:nth-child( 4n + 3) {
  margin-top: 175px;
}
div.q-workspace.q-mod-showroomSize4 div.q-gateFactory:nth-child( 4n + 4) {
  margin-top: 250px;
}
div.q-workspace.q-mod-showroomSize4 div.q-gateFactory:not( :nth-child( 4n + 1)) {
  margin-left: -50px;
}
div.q-workspace.q-mod-showroomSize4 div.q-factoryShowroom {
  height: 325px;
}
div.q-workspace.q-mod-showroomSize4 div.q-circuit {
  top: 325px;
}
div.q-workspace.q-mod-showroomSize5 div.q-gateFactory:nth-child( 5n + 2) {
  margin-top: 100px;
}
div.q-workspace.q-mod-showroomSize5 div.q-gateFactory:nth-child( 5n + 3) {
  margin-top: 175px;
}
div.q-workspace.q-mod-showroomSize5 div.q-gateFactory:nth-child( 5n + 4) {
  margin-top: 250px;
}
div.q-workspace.q-mod-showroomSize5 div.q-gateFactory:nth-child( 5n + 5) {
  margin-top: 325px;
}
div.q-workspace.q-mod-showroomSize5 div.q-gateFactory:not( :nth-child( 5n + 1)) {
  margin-left: -50px;
}
div.q-workspace.q-mod-showroomSize5 div.q-factoryShowroom {
  height: 400px;
}
div.q-workspace.q-mod-showroomSize5 div.q-circuit {
  top: 400px;
}
/* Gate */
div.q-gate {
  background: #ffe3aa;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  box-shadow: inset 0 0 10px 5px #b29353;
  z-index: 10000;
}
/* Gate Factory */
div.q-gateFactory {
  float: left;
  margin: 25px 0 0 25px;
}
/* Factory Showroom */
div.q-factoryShowroom {
  background-color: #aaccff;
  position: absolute;
  width: 100%;
  height: 100px;
  overflow: hidden;
  box-shadow: inset 0 15px 10px -10px #6584b2, inset 0 -15px 10px -10px #6584b2;
}
div.q-factoryShowroom div.q-factoryShowroom-content {
  height: 100%;
}
/* Circuit */
div.q-circuit {
  background-color: #ffe3aa;
  position: absolute;
  top: 100px;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  box-shadow: inset 0 15px 10px -10px #b29353, inset 0 -15px 10px -10px #b29353;
}
/* Slot */
div.q-slot {
  position: relative;
  margin: 25px;
  padding: 10px;
  padding-right: 60px;
  height: 70px;
}
div.q-slot:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 35px;
  box-shadow: 0 0 5px 5px #ff0000;
  opacity: 0;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
div.q-slot:after {
  content: '';
  background-color: #aaccff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 35px;
  box-shadow: inset 0 0 10px 5px #6584b2;
}
div.q-slot.q-mod-hover:before {
  opacity: 1;
}
div.q-slot div.q-slot-content {
  position: relative;
}
