@import "../variables.less";
@import (less) "../font-awesome.css";


/* Color Variables */

@background1:       #fff;
@background2:       #eee;
@foreground1:       #6584b2;
@foreground2:       #ffe3aa;
@highlight:         #f00;
@controlFocus:      #888;
@text:              #fff;
@shadow:            #aaa;


/* Size Variables */

@gateSize:          50px;
@highlightSize:     5px;
@paddingSize:       25px;
@scrollBtnWidth:    30px;
@scrollBtnHeight:   40px;
@shadowSize:        10px;
@slotSize:          10px;
@smallPaddingSize:  15px;

@gateFontSize:      20px;
@scrollBtnFontSize: 24px;


/* Computed Variables */

@slotMargin:        @gateSize + @smallPaddingSize;

@showroomHeight:    @gateSize + (2 * @paddingSize);

@shadowSpread:      @shadowSize / 2;
@shadowOffset:      @shadowSize + @shadowSpread;


/* LESS Mixins */

.generate-factoryShowroom-size(@size) {
    div.q-workspace.q-mod-showroomSize@{size} {
        div.q-factoryShowroom {
            div.q-factoryShowroom-content {
                height: (@size * @gateSize) + ((@size + 1) * @paddingSize);
            }
        }
    }
}


/* Page Styles */

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

#circuit {
    position: fixed;
    top: @headerHeight;
    bottom: @footerHeight;
    width: 100%;
}


/* Workspace */

div.q-workspace {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.generate-factoryShowroom-size(2);
.generate-factoryShowroom-size(3);
.generate-factoryShowroom-size(4);
.generate-factoryShowroom-size(5);


/* Gate */

div.q-gate {
    background: @foreground2;
    cursor: pointer;
    width: @gateSize;
    height: @gateSize;
    border-radius: 50%;
    text-align: center;
    z-index: 10000;

    span.q-gate-text {
        color: @foreground1;
        cursor: pointer;
        font-family: @font;
        font-size: @gateFontSize;
        line-height: @gateSize;
    }
}


/* Gate Factory */

div.q-gateFactory {
    display: inline-block;
    margin: @paddingSize 0 0 @paddingSize;
}


/* Factory Showroom */

div.q-factoryShowroom {
    display: table-cell;
    position: relative;
    background-color: @background2;
    box-shadow: inset 0 @shadowOffset @shadowSize -@shadowSize @shadow,
                inset 0 -@shadowOffset @shadowSize -@shadowSize @shadow;

    div.q-factoryShowroom-scroller {
        width: 100%;
        overflow: hidden;

        div.q-factoryShowroom-content {
            display: -webkit-inline-box;
            display: -moz-inline-box;
            display: -ms-inline-flexbox;
            display: -webkit-inline-flex;
            display: inline-flex;
            flex-flow: column wrap;
            padding: 0 @paddingSize 0 0;
            height: @showroomHeight;
        }
    }

    a.q-factoryShowroom-left,
    a.q-factoryShowroom-right {
        .fa;
                
        &:before {
            color: @text;
        }

        &:hover {
            opacity: 0.5;
        }

        display: block;
        position: absolute;
        top: 50%;
        cursor: pointer;
        background: @controlFocus;
        margin: (-@scrollBtnHeight / 2) 0 0 0;
        width: @scrollBtnWidth;
        height: @scrollBtnHeight;
        line-height: @scrollBtnHeight;
        font-size: @scrollBtnFontSize;
        text-align: center;
        opacity: 0.3;
    }

    a.q-factoryShowroom-left {
        &:before {
            content: '\f053';
        }

        left: 0;
    }

    a.q-factoryShowroom-right {
        &:before {
            content: '\f054';
        }

        right: 0;
    }
}


/* Circuit */

div.q-circuit {
    display: table-row;
    background-color: @background1;
    height: 100%;
    overflow: hidden;

    div.q-circuit-content {
        display: table;
        width: 100%;
        height: 100%;

        div.q-circuit-deletes {
            display: table-cell;
            vertical-align: top;

            span.q-circuit-delete {
                .fa;
                .fa-2x;
                
                &:before {
                    content: '\f057';
                    color: @highlight;
                }

                cursor: pointer;
                display: block;
                margin: @slotMargin ((@gateSize / 2) + @smallPaddingSize);
                height: @slotSize;
                line-height: @slotSize;
                overflow: visible;
            }
        }

        div.q-circuit-slots {
            display: table-cell;
            width: 100%;
            vertical-align: top;
        }
    }
}


/* Slot */

div.q-slot {
    position: relative;
    margin: @slotMargin;
    margin-left: 0;
    padding: @slotSize / 2;
    padding-right: (@slotSize / 2) + @gateSize;
    height: 0;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: @slotSize / 2;
        box-shadow: 0 0 @highlightSize @highlightSize @highlight;
        opacity: 0;
        -ms-transform: translateZ(0);
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-transition: 0.2s;
        transition: 0.2s;
    }

    &:after {
        content: '';
        background-color: @foreground1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        border-radius: @slotSize / 2;
    }

    &.q-mod-add {
        &:after {
            opacity: 0.2;
            -webkit-transition: 0.2s;
            transition: 0.2s;
        }
    }

    &.q-mod-hover {
        &:before,
        &:after {
            opacity: 1;
        }
    }

    div.q-slot-content {
        position: relative;

        div.q-gate {
            top: 0 - (@gateSize / 2);
        }
    }
}
